* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  //sets the value of 1 rem;
  font-size: 62.5%;

  // @include respond(phone){
  //     font-size: 50%;
  // }

  @include respond(tab-land) {  //width 1200px
    font-size: 56.25%; //1rem = 9px;   9/16
  }
  @include respond(tab-port) { //width 900px  --> precedence
    font-size: 50%; //1rem = 8px;   8/16
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px; 12/16
  }
}

body {
  box-sizing: border-box;
}
